<%- include("partials/header.ejs") -%>


<body class="about-me">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto|Sacramento" rel="stylesheet">
  <div class="top-container">
    <h1 class="about">Noha Nomier</h1>
    <img class="personal-img" src="images/personal.jpg" alt="noha-img">
    <div class="middle-container">
      <div class="profile">
      </div>
      <div class="contact-me">
        <a class="btn" href="mailto:nnomier@gmail.com">CONTACT ME</a>
      </div>


    </div>
  </div>


  <div >
    <a class="footer-link" href="https://www.linkedin.com/in/noha-nomier-982110141/">LinkedIn</a>
    <a class="footer-link" href="https://www.facebook.com/nnomier">Facebook</a>
    <a class="footer-link" href="https://github.com/nnomier">Github</a>
  </div>

  <%- include("partials/footer.ejs") -%>
