.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.cover {
  padding: 0 1.5rem;
  text-align: center
}

.post {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}

.title-container {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f1f1f1;
}

.cover-heading {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.about-me {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.middle-container {
  margin: 100px 0;
}

.top-container {
  background-color: #e0fcff;
  position: relative;
  padding-top: 100px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #4f81c7;
}

.about {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #6eb6ff;
}

a:hover {
  color: #e0fcff;
}


a {
  color: #7098da;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.personal-img {
  width: 17%;
  height: 17%;
  border-radius: 100%;
}

.footer {
  height: 30px; // Replace with the height your footer should be
  width: 100%; // Don't change
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  color: #fff
}

.footer_contents {
  height: 30px; // Replace with the height your footer should be
  width: 1000px; // Visible width of footer
  margin: auto;
}

#compose {
  color: #fff;
  background-color: #d1eecc;
  border-color: #007bff;
  border-radius: .25rem;
}
